@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Theme 1 */
    --theme1-main-bg: hsl(222, 26%, 31%);
    --theme1-toogle-and-keyboard-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);

    --theme1-key-bg1: hsl(225, 21%, 49%);
    --theme1-key-shadow1: hsl(224, 28%, 35%);

    --theme1-key-bg2: hsl(6, 63%, 50%);
    --theme1-key-shadow2: hsl(6, 70%, 34%);

    --theme1-key-bg3: hsl(30, 25%, 89%);
    --theme1-key-shadow3: hsl(28, 16%, 65%);

    --theme1-text-color1: hsl(221, 14%, 31%);
    --theme1-text-color2: hsl(0, 0%, 100%);

    /* Theme 2 */

    --theme2-main-bg: hsl(0, 0%, 96%);
    --theme2-toggle-bg: hsl(268, 71%, 12%);
    --theme2-screen-bg: hsl(0, 0%, 93%);

    --theme2-key-bg1: hsl(185, 42%, 37%);
    --theme2-key-shadow1: hsl(185, 58%, 25%);

    --theme2-key-bg2: hsl(25, 98%, 40%);
    --theme2-key-shadow2: hsl(25, 99%, 27%);

    --theme2-key-bg3: hsl(45, 7%, 89%) --theme2-key-shadow3: hsl(35, 11%, 61%);

    --theme2-text-color1: hsl(60, 10%, 19%);
    --theme2-text-color2: hsl(0, 0%, 100%);

    /* Theme 3 */

    --theme3-main-bg: hsl(268, 75%, 9%);
    --theme3-toggle-bg: hsl(268, 71%, 12%);
    --theme3-screen-bg: hsl(268, 71%, 12%);

    --theme3-key-bg1: hsl(281, 89%, 26%);
    --theme3-key-shadow1: hsl(285, 91%, 52%);

    --theme3-key-bg2: hsl(176, 100%, 44%);
    --theme3-key-shadow2: hsl(177, 92%, 70%);

    --theme3-key-bg3: hsl(268, 47%, 21%);
    --theme3-key-shadow3: hsl(290, 70%, 36%);

    --theme3-text-color1: hsl(52, 100%, 62%);
    --theme3-text-color2: hsl(198, 20%, 13%);
    --theme3-text-color3: hsl(0, 0%, 100%);

    font-family: "League Spartan", sans-serif;
    font-weight: 700;

}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    background-color: var(--theme1-main-bg);
}

body.theme1 {
    background-color: var(--theme1-main-bg);
}

body.theme2 {
    background-color: var(--theme2-screen-bg);
}

body.theme3 {
    background-color: var(--theme3-main-bg);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 2rem auto;
    gap: 1rem;
}

.theme2 main div.calculatorScreen {
    background-color: var(--theme2-main-bg)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme1-text-color2);
}

.theme2,
.theme2 .calculatorScreen p,
.theme2 header {
    color: var(--theme2-text-color1);
}

.theme3,
.theme3 .calculatorScreen p,
.theme3 header {
    color: var(--theme3-text-color1);
}

.theme2 .calculatorKeyboard {
    background-color: hsl(0, 5%, 81%);
}

.toggle {
    flex: 0 1 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle span {
    font-size: 70%;
}

.mainToggle {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

}

.mainToggle div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.toggleInputs {
    background-color: var(--theme1-toogle-and-keyboard-bg);
    padding: .3rem;
    border-radius: 10px;
}

.toggleInputs input:not(input:first-child) {
    opacity: 0;
}

.theme1 .toggleInputs input:not(input:first-child) {
    opacity: 0;
}

.theme2 .toggleInputs input {
    opacity: 0;
}

.theme2 .toggleInputs input.toggleInput2 {
    opacity: 1;
}

.theme3 .toggleInputs input {
    opacity: 0;
}

.theme3 .toggleInputs input:last-child {
    opacity: 1;
}

.theme3 .toggleInputs {
    background-color: var(--theme3-screen-bg);
}

.theme3 .calculatorKeyboard {
    background-color: var(--theme3-screen-bg);
}

.theme2 .toggleInputs {
    background-color: rgba(234, 224, 224, 0.845);
}

.toggleInputs input:first-child::after {
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: red;
}

.theme1 .toggleInputs input:first-child::after {
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: red;
}

.theme2 .toggleInput2::after {
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: var(--theme2-key-bg2);
}

.theme3 input:last-child::after {
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: var(--theme3-key-bg2);
}

.calculatorScreen {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
    letter-spacing: 3px;
    width: 100%;
    height: 15vh;
    border-radius: 5px;
    background-color: var(--theme1-screen-bg);
    margin-bottom: 1rem;
}

.theme1 main .calculatorScreen {
    background-color: var(--theme1-screen-bg);

}

.theme3 main .calculatorScreen {
    background-color: var(--theme3-screen-bg);

}

.calculatorScreen p {
    font-size: 32px;
    color: var(--theme1-text-color2);
}

.calculatorKeyboard {
    width: 100%;
    background-color: var(--theme1-toogle-and-keyboard-bg);
    border-radius: 5px;
    padding: 1rem;

}

.keyboardMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.keyboardMain span,
.keyboardMain button {
    font-size: 200%;
    background-color: var(--theme1-key-bg3);
    text-align: center;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0px 4px 0px 0px var(--theme1-key-shadow3);

}

.theme3 .keyboardMain span,
.theme3 .keyboardMain button {
    font-size: 200%;
    background-color: var(--theme3-key-bg1);
    text-align: center;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0px 4px 0px 0px var(--theme3-key-shadow3);

}

.keyboardMain button {
    background-color: var(--theme1-key-bg1);
    border: none;
    box-shadow: 0px 4px 0px 0px var(--theme1-key-shadow1);
    color: var(--theme1-text-color2);

}

.keyboardButtons {
    display: flex;
    width: 100%;
}

.keyboardButtons button {
    flex: 1;
    padding: 1rem;
    border-radius: 3px;
    border: none;
    color: var(--theme1-text-color2);
    font-size: 200%;
}

.resetBtn {
    margin-right: 1rem;
    background-color: var(--theme1-key-bg1);
    box-shadow: 0px 4px 0px 0px var(--theme1-key-shadow1);

}

.theme2 .resetBtn {
    background-color: var(--theme2-key-bg1);
    box-shadow: 0px 4px 0px 0px var(--theme2-key-shadow1);

}

.theme3 .resetBtn{
    background-color: var(--theme3-key-bg1);
    box-shadow: 0px 4px 0px 0px var(--theme3-key-shadow1);
}

.equalBtn {
    background-color: var(--theme1-key-bg2);
    box-shadow: 0px 4px 0px 0px var(--theme1-key-shadow2);

}

.theme2 .equalBtn {
    background-color: var(--theme2-key-bg2);
    box-shadow: 0px 4px 0px 0px var(--theme2-key-shadow2);
}

.theme3 .equalBtn {
    background-color: var(--theme3-key-bg2);
    box-shadow: 0px 4px 0px 0px var(--theme3-key-shadow2);
    color: var(--theme3-text-color2);
}

.theme2 .keyboardMain button {
    background-color: var(--theme2-key-bg1);
    box-shadow: 0px 4px 0px 0px var(--theme2-key-shadow1);
}