@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Theme 1 */
    --theme1-main-bg: hsl(222, 26%, 31%);
    --theme1-toogle-and-keyboard-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);

    --theme1-key-bg1: hsl(225, 21%, 49%);
    --theme1-key-shadow1: hsl(224, 28%, 35%);

    --theme1-key-bg2: hsl(6, 63%, 50%);
    --theme1-key-shadow2: hsl(6, 70%, 34%);

    --theme1-key-bg3: hsl(30, 25%, 89%);
    --theme1-key-shadow3: hsl(28, 16%, 65%);

    --theme1-text-color1: hsl(221, 14%, 31%);
    --theme1-text-color2: hsl(0, 0%, 100%);

    /* Theme 2 */

    --theme2-main-bg: hsl(268, 75%, 9%);
    --theme2-toggle-bg: hsl(268, 71%, 12%);
    --theme2-screen-bg: hsl(268, 71%, 12%);

    --theme2-key-bg1: hsl(185, 42%, 37%);
    --theme2-key-shadow1: hsl(185, 58%, 25%);

    --theme2-key-bg2: hsl(25, 98%, 40%);
    --theme2-key-shadow2: hsl(25, 99%, 27%);

    --theme2-key-bg3: hsl(45, 7%, 89%);
    --theme2-key-shadow3: hsl(35, 11%, 61%);

    --theme2-text-color1: hsl(60, 10%, 19%);
    --theme2-text-color2: hsl(0, 0%, 100%);

    /* Theme 3 */

    --theme3-main-bg: hsl(268, 75%, 9%);
    --theme3-toggle-bg: hsl(268, 71%, 12%);
    --theme3-screen-bg: hsl(268, 71%, 12%);

    --theme3-key-bg1: hsl(281, 89%, 26%);
    --theme3-key-shadow1: hsl(285, 91%, 52%);

    --theme3-key-bg2: hsl(176, 100%, 44%);
    --theme3-key-shadow2: hsl(177, 92%, 70%);

    --theme3-key-bg3: hsl(268, 47%, 21%);
    --theme3-key-shadow3: hsl(290, 70%, 36%);

    --theme3-text-color1: hsl(52, 100%, 62%);
    --theme3-text-color2: hsl(198, 20%, 13%);
    --theme3-text-color3: hsl(0, 0%, 100%);

    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--theme1-main-bg);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    margin: 4rem auto;
    gap: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculatorScreen{
    width: 100%;
    height:  15vh;
    border-radius: 5px;
    background-color: var(--theme1-screen-bg);
    margin-bottom: 1rem;
}

.calculatorKeyboard{
    background-color: var(--theme1-toogle-and-keyboard-bg);
    height:  45vh;
    border-radius: 5px;
}

.keyboardMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}